<div class="container">
    <form [formGroup]="contactusForm">
        <div class="form-row" formGroupName="person">
            <div class="form-group col-md-6">
                <label for="">
                    Nombre: 
                </label>
                <input type="text" formControlName="firstname" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="">
                    Apellido:
                </label>
                <input type="text" class="form-control" formControlName="lastname">
            </div>
        </div>
       
        <div class="form-group">
            <label for="">
                Email:
            </label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="">
                Mensaje:
            </label>
            <textarea class="form-control" formControlName="message" cols="30" rows="2"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-info" (click)="onSubmit()">Guardar</button>
            |
            <button class="btn btn-primary" (click)="onUpdate()">Cargar datos</button>
            |
            <button class="btn btn-danger" (click)="onClean()">Limipar</button>
        </div>
    </form>
     <br>
     <p>
         {{ contactusForm.value | json }}
     </p>
</div>
