<div class="container">
    <h3>Equipo 3</h3>
    <div class="container">
        <div class="row">
          <div class="col-sm">
              <div class="row">
                <div class="col-sm">
                    <img src="assets/img/blank-profile.png" class="rounded float-left img-thumbnail" alt="">
                  </div>
                
                    <div class="col-sm">
                        <p>Nombre: Leguía Chero, Axel</p>
                        <p>Código: u201500129</p>
                    </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <img src="assets/img/blank-profile.png" class="rounded float-left img-thumbnail" alt="">
                  </div>
                
                    <div class="col-sm">
                        <p>Nombre: Granados Moreno, Juan Jose</p>
                        <p>Código: u201500129</p>
                    </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <img src="assets/img/blank-profile.png" class="rounded float-left img-thumbnail" alt="">
                  </div>
                
                    <div class="col-sm">
                        <p>Nombre: Guerra Palomino, Frank</p>
                        <p>Código: u201500129</p>
                    </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        <img src="assets/img/blank-profile.png" class="rounded float-left img-thumbnail" alt="">
                      </div>
                    
                        <div class="col-sm">
                            <p>Nombre: Gutierrez Valdez, Pedro Cesar</p>
                            <p>Código: u201500129</p>
                        </div>
                  </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        <img src="assets/img/blank-profile.png" class="rounded float-left img-thumbnail" alt="">
                      </div>
                    
                        <div class="col-sm">
                            <p>Nombre: Huarcaya Chocce, Ponciano</p>
                            <p>Código: u201500129</p>
                        </div>
                  </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        <img src="assets/img/blank-profile.png" class="rounded float-left img-thumbnail" alt="">
                      </div>
                    
                        <div class="col-sm">
                            <p>Nombre: Orbegoso Salinas, Fernando</p>
                            <p>Código: u201500129</p>
                        </div>
                  </div>
            </div>
          </div>
      </div>
</div>